* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: Light;
  src: url(assets/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: Regular;
  src: url(assets/Aeonik-Regular.ttf);
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  font-family: Light;
  user-select: none; /* Standard syntax */
  padding: 5%;
}

a {
  color: black;
}

button {
  /* display: flex; */
  padding: 10px 10px;
  justify-content: start;
  align-items: start;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid black;
  background: white;
  color: var(--light);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
  }
  
  button:hover {
    background: black;
    color: white;
    transition: 0.2s ease;
  }




