* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Regular;
  src: url(assets/TT-Hoves-Pro-Regular.otf);
}

@font-face {
  font-family: Rise;
  src: url(assets/rise-testfont-Regular.otf);
}

:root {
  --cubeW: 100px;
  --halfCubeW: 150px;
  --cubeH: 100px;
  --green: #16FF89;
  --yellow: #FFFF42;
  --palegren: #E5FFD5;
  --gradient: linear-gradient(#041D30, #BBC7D6); 
  --blue: #041D30;
  --light: #BBC7D6;
  --white: #fff;
  --grey: #d9d9d9;
  --darkgrey: #b2b2b2;
  --regulargrey: #f5f5f5;
  --cpgradient: linear-gradient(#16FF89,  #FFFF42); 
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background: #01101a;
  /* background: linear-gradient(#16FF89 0%,#fff 5%,#fff 80%, #16FF89 95%);  */
  font-family: Regular;
  user-select: none; /* Standard syntax */

}

#appTitle {
  font-family: Regular;
  color: var(--regular);
  font-size: 28px;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;

  /* background-image: var(--cpgradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; */

  color: var(--light)
}


.controlsSection {
  border-radius: 10px; 
  /* outline: 1px solid #d9d9d933;  */
  padding: 20px;
  text-align: left;
  color: var(--regular);
    margin: 20px 0px;

  background-color: #041d30;
  box-shadow: inset 0 0 10px #bbc7d6eb;
}


#rightControls {
  position: absolute;
  padding: 20px;
  width: 25vw;
  top: 0; 
  right: 0;
  font-size: 15px;
  border-radius: 12px;
}

.inputscontainer {
  position: absolute;
  padding: 20px;
  width: 25vw;
  top: 0 ; 
  left: 0;
  font-size: 15px;
  border-radius: 12px;
}

.inputscontainer > div {
  margin-top: 20px;
}



button {
  width: 100px;
  aspect-ratio:  3 / 1;
  font-family: Regular;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 5px;
  border: 0px solid var(--regular);
  background: #0c2c44;
  color: var(--light);
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background: var(--light);
  color: var(--blue);
  transition: 0.5s ease;
}

.active-button {
  background: var(--light);
  color: var(--blue);
  border: 10px solid;
}


#sideButtonContainer {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-around; /* Distribute items with space around them */
  gap: 10px; /* Gap between items */
}

.sideButton {
  font-family: Regular;
  flex: 1 1 calc(30% - 20px); /* Flex basis to take 1/3rd of the container width minus the gap */
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}


.keyboardContainer {
  margin: 20px;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 600px;
  margin: 0 auto;
  gap: 10px; /* Gap between items */
}

.key {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.key:hover {
  /* background-color: var(--regular); */
}


#animButtonContainer {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Gap between items */
  row-gap: 10px;
  justify-content: left;

}

.rotateMode {
  font-family: Regular;
  flex: 1 1 calc(30% - 20px); /* Flex basis to take 1/3rd of the container width minus the gap */
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



#generalcontrols {
  position: absolute;
  top:0;
  right:0;
  padding: 20px;
  width: 25vw;
  font-size: 15px;
  border-radius: 12px;
}


#generalcontrols > button {
  cursor: pointer;
}

#switches > button {
  font-family: Regular;
  flex: 1 1 calc(50% - 20px); /* Flex basis to take 1/3rd of the container width minus the gap */
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin:  10px;
  box-shadow: inset 0 0 10px #bbc7d6eb;
}

#container {
  display: block;
  position: absolute;
  flex-flow: row wrap;
  row-gap: 0px;
  top: 30%;
  left: 30%;
  transform-style: preserve-3d;
  transform-origin: 225px 225px 225px; /* Center of the cube */
  transform: rotateX(-30deg) rotateY(-30deg) translate3d(-100px,0px,0px);

}



.animate {
    animation: spin 10s cubic-bezier(0.405, 0.005, 0.000, 1.000) alternate-reverse; 
  }

.topdownview {
  transform: rotateX(-90deg) rotateY(0deg) translateY(0px);
}


 
  
 @keyframes spin {
    0%{
      transform: rotateX(-90deg) rotateY(0deg) translate3d(50px,-20px,0px) scale3d(1,1,1) ;
    }

    25%{
      transform: rotateX(0deg) rotateY(0deg) translate3d(50px, -50px,0px) scale3d(1,1,1) ;
    }

    50%{
      transform: rotateX(0deg) rotateY(-90deg) translate3d(0px, 100px,-850px) scale3d(1,1,1) ;
    }

    75%{
      transform: rotateX(-30deg) rotateY(-30deg) translate3d(400px, -150px,0px) scale3d(0.8,0.8,0.8);
    }

    100%{
      transform: rotateX(-90deg) rotateY(0deg) translate3d(50px,-20px,0px) scale3d(1,1,1) ;
    }
    } 


.cube {
  position: absolute;
  transform-style: preserve-3d;
}


.cube div {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}


.cube div span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: bottom center;
  transform: rotateY(calc(90deg*var(--i))) translateZ(calc(var(--cubeW)/2)); /* Resize the background image to cover the entire container */
  font-family: Rise;
  font-size: 230px;
  display: flex;
  color: var(--cpgradient);
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  cursor: pointer;
}


.top {
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height: 0;
  cursor: pointer;
  padding: 10px;
  box-shadow: none;
  border-radius: 10px;


}


.glass-effect {
  background-color: #041d30;
  box-shadow: inset 0 0 20px #bbc7d6eb;
  border-radius: 10px;
  }
   


input {
  position: relative;
  bottom: 0;
  font-size: 14px;
}



.controlshidden {
  visibility: hidden;
}

.gridShown {
  border: 1px solid #d9d9d933;
}

.grid-hover {
  background-color: #bbc7d68a;
} 

.header {
  padding: 10px;
  font-family: Monopol;
  font-size: 23rem;
}

.h1text {
  word-wrap: break-word;
  font-size: 150px;
  line-height: 60px;
  letter-spacing: −5px; 
}


.h2text {
  word-wrap: break-word;
  font-size: 100px;
  line-height: 60px;
  letter-spacing: −5px;

}

.h3text {
  word-wrap: break-word;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: −5px; 
}

.h4text {
  word-wrap: break-word;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: −5px; 
}


#clear {
  margin-top:20px;
}



#textInput {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  padding: 10px;
  font-size: 16px;
}

.gradient-text {
  background-image: var(--cpgradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  height: 100%; /* Ensure the container takes full height */
  font-family: Rise;
  font-size: 200px;
  line-height: 230px;
}

#uibackground {
  display: block;
  position: absolute;
  top: 40px;
  background: var(--blue);
  width: 50vw; /* Adjust this value to set the desired width based on viewport width */
  aspect-ratio: 1 / 1; /* Ensures the height is equal to the width */
  background-color: var(--blue); /* Optional: for visual reference */
  border-radius: 20px;
  overflow: hidden;
}



.showGrid {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the children horizontally within the parent */
  align-items: center; /* Center the children vertically within the parent */
  width: 40%; /* Ensure the parent takes full width of its container */
}

.showGrid > * {
  flex: 1; /* Allow each child to grow and shrink equally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  text-align: left; /* Center the text horizontally within each child */
}


/* COLOR BUTTONS */

.colorinput {
  margin: auto; /* Center the div using margin */
  padding: 0px 20px;
  text-align: center;
}


.colorinput > button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 20px; /* Add some padding for better visibility */

}

.colorinput button:hover {
  margin: 10px;
  outline: 1px solid var(--light); /* 2px light green solid outline */
} 

#color1 {
  background: var(--blue);
  outline: 1px solid var(--light); /* 2px light green solid outline */

}

#color2 {
  background: var(--light);
}

#color3 {
  background: var(--gradient);
}

#color4 {
  background-image: var(--blue);
 
}

#color5 {
  background-image: var(--regular);
}

#color6 {
  background-image: var(--gradient);
}


/* ANIMATION -------------*/

.animator0 {
  animation: rise 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.animator1 {
animation: rise1 10s linear infinite;
}


.animator2 {
  animation: rise2 10s linear infinite;
}

.animator3 {
  animation: rise3 10s linear infinite;
}

.animator4 {
  animation: rise4 10s linear infinite;
}




@keyframes rise {
  0%{
    transform: rotateX(-90deg) rotateY(0deg) scale3d(1,1,1) ;
  }

  30%{
    transform: rotateX(0deg) rotateY(0deg)  scale3d(1,1,1) ;
  }

  50%{
    transform: rotateX(-30deg) rotateY(-30deg) scale3d(0.8,0.8,0.8);
  }
  100%{
    transform: rotateX(-90deg) rotateY(0deg) scale3d(1,1,1) ;
  }
}


@keyframes rise1 {
  0%{
    transform: rotateX(-30deg) rotateY(0deg) ;
  }

 100%{
    transform: rotateX(-30deg) rotateY(360deg) ;
  }
}

@keyframes rise2 {
  0%{
    transform: rotateX(0deg) rotateY(0deg) scale3d(3,3,3) ;
  }

 100%{
    transform: rotateX(0deg) rotateY(360deg) scale3d(3,3,3);
  }
}


@keyframes rise3 {

  0%{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(5000px) scale3d(5,5,5);
  }

  20%{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translatez(0px) scale3d(5,5,5);
  }
  100%{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg)  translatez(0px)  scale3d(0,0,0);
  }

}

@keyframes rise4 {
  0%{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


.logo {
  position: fixed;
  right: 0;
  bottom: 0px;
  /* margin: 10px; */
}

.logo img {
  max-width: 20vw;
  height: auto;
  padding: 20px;
}

.copyright {
  position: fixed;
  text-align: left;
  left: 0;
  bottom: 10px;
  padding: 20px; /* Add some padding for better appearance */
  color: var(--light);
  font-size: 10px; /* Adjust font size for the main text */
  opacity: 0.5;
}


.copyright a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
